/media-client/
/media-server/
**/logs/
**/docs/
*.log
.env
*.env
**/.env
venv/
.venv/
**/venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
**/.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
**/htmlcov/
media-client/build/
media-client/.dart_tool/
**/.dart_tool/
media-client/.flutter-plugins
media-client/.flutter-plugins-dependencies
media-client/.packages
.idea/
.vscode/
.DS_Store
Thumbs.db
