
# Python
**/__pycache__/
**/*.py[cod]
**/*.so
**/*.dylib
**/.env
**/*.env
**/.venv/
**/venv/
**/env/
**/.pytest_cache/
**/.coverage
**/.coverage.*
**/coverage.xml
**/htmlcov/
**/alembic/
**/alembic.ini

# Logs
**/logs/
**/*.log

# IDEs
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/.DS_Store
**/Thumbs.db

# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/

# Project Specific
media-server/logs/
media-server/alembic/
media-server/alembic.ini
media-server/venv/
media-server/.venv/
.trae/
media-server/.env.example
media-server/.env
media-server/__pycache__/
media-server/core/__pycache__/
media-server/.ruff_cache/
media-server/services/scan/__pycache__/
media-server/services/media/__pycache__/


media-server/services/scraper/__pycache__/
media-server/services/storage/__pycache__/
media-server/services/storage/storage_clients/__pycache__/