DOMAIN=180.184.53.81

POSTGRES_DB=mediacmn
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_PASSWORD=redis123
REDIS_CACHE_PASSWORD=redis123

APP_NAME=MediaCMN Server
ENVIRONMENT=production
CORS_ORIGINS=["http://180.184.53.81:6069"]
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/mediacmn


REDIS_URL=redis://:redis123@redis_queue:6379
REDIS_DB=0

SCRAPER_CACHE_REDIS_URL=redis://:redis123@redis_queue:6379
SCRAPER_CACHE_REDIS_DB=2

JWT_SECRET_KEY=please_change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600
REFRESH_TOKEN_EXPIRE_DAYS=7
REFRESH_TOKEN_ROTATION=true
MASTER_KEY=please_change_me

PLAYURL_MODE=direct_signed
URL_SIGNING_SECRET=please_change_me
URL_SIGNING_TTL_SECONDS=300
URL_SIGNING_ALG=HS256

TMDB_API_KEY=b4f22c4e74c07e203bb45ce126ab2193
TMDB_V4_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiNGYyMmM0ZTc0YzA3ZTIwM2JiNDVjZTEyNmFiMjE5MyIsIm5iZiI6MTc2MTg5ODA0OS43NjEsInN1YiI6IjY5MDQ2ZTQxOWFiYTE5OTg4ODE3ZjZkZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GIOqWyUZiPovqM8kttfcH01i3gX1yfFAGCdYc_VaPVE
TMDB_LANGUAGE=zh-CN
TMDB_FALLBACK_LANGUAGE=en-US
TMDB_TIMEOUT=30
# 如果使用 Vercel 代理，请设置以下两个地址
TMDB_API_BASE_URL=https://tmdb.maelsea.top/3
TMDB_IMAGE_BASE_URL=https://tmdb.maelsea.top/t/p
TMDB_PROXY=

SCAN_DEFAULT_DEPTH=1
ENABLE_SCRAPERS=["tmdb"]
